@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Mulish:wght@200;300;400;500;600;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Mulish", sans-serif;
  line-height: 1.8;
  overscroll-behavior: none;
}
body::-webkit-scrollbar:horizontal {
  display: none;
}
body::-webkit-scrollbar {
  width: 0.6rem;
}
body::-webkit-scrollbar-track {
  background-color: #dadfe0b3 !important;
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(rgba(12, 12, 12, 0.7), rgba(72, 9, 74, 0.7));
  border-radius: 30rem;
}
body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(rgba(12, 12, 12, 0.7), rgba(72, 9, 74, 0.7));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900 !important;
}

a {
  text-decoration: none;
  transition: all 0.4s ease;
  font-weight: 800;
}

img {
  height: 300px;
  object-fit: cover;
  width: 100%;
}

section {
  padding-top: 80px;
  padding-bottom: 80px;
  z-index: 2;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(12, 12, 12, 0.7), rgba(72, 9, 74, 0.7));
  z-index: -1;
}

.bg-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hero-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 14px 22px;
  transition: all 0.4s;
}

.btn-main {
  background: linear-gradient(rgba(12, 12, 12, 0.7), rgba(72, 9, 74, 0.7));
  border-radius: 100px;
  border: none;
  font-weight: 600;
  color: #fff;
}

.btn:hover {
  color: #fff;
  transform: translateY(-4px);
}

.custom-download-link {
  color: inherit;
  text-decoration: none;
  font-weight: 600;
}

.custom-download-link:hover {
  /* text-decoration: underline; */
  color: #fff;
  font-weight: 300;
}

.navbar {
  color: #000 !important;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
}
.logo-img {
  width: 50px;
  height: 40px;
  object-fit: contain;
}

.navbar-nav .nav-link.active {
  background: linear-gradient( rgba(72, 9, 74, 0.7), rgba(72, 9, 74, 0.7));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-intro {
  margin-bottom: 40px;
}

.section-intro .divider {
  height: 4px;
  width: 70px;
  background: linear-gradient(rgba(12, 12, 12, 0.7), rgba(72, 9, 74, 0.7));
  margin: 16px auto;
}

.course {
  position: relative;
}

/* .course-flex{
  display: flex;
} */

.course .course-img {
  position: relative;
}

.course .course-img .icon {
  width: 90px;
  height: 90px;
  z-index: 3;
  background: #000000;
  color: #fff;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -45px;
  left: 50%;
  transform: translateX(-50%);
}

.course .course-img .icon i {
  font-size: 36px;
}

.zoomable-image-wrapper {
  overflow: hidden;
}

.zoomable-image {
  width: 700px; /* Set your desired width */
  height: 500px; /* Set your desired height */
  object-fit: cover;

  transition: transform 0.3s ease;
}

.zoomable-image:hover {
  transform: scale(
    1.1
  ); /* Adjust the scale factor as needed for the desired zoom effect */
}

/* Styling for carousel control buttons */
.carousel-control-prev,
.carousel-control-next {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: black;
  padding: 0;
  transition: background-color 0.3s ease; /* Transition effect */
}

/* Styling for the arrow icons inside the buttons */
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 8 8'%3e%3cpath d='M5.3 0L4 1.3 1.4 4H8v1H1.4L4 6.7 5.3 8l-3-3 3-3z'/%3e%3c/svg%3e");
  width: 1.5rem;
  height: 1.5rem;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 8 8'%3e%3cpath d='M5.3 0L4 1.3 6.6 4H0v1h6.6L4 6.7 5.3 8l3-3-3-3z'/%3e%3c/svg%3e");
  width: 1.5rem;
  height: 1.5rem;
}

/* Hover effect */
.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: darkgray;
}

.icon {
  position: absolute;
  margin-bottom: -2rem;
  background-color: #000; /* Change to match your background color */
  padding: 20px;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add shadow effect for depth */
}

.icon i {
  font-size: 20px; /* Adjust the icon size as needed */
  color: #fff; /* Adjust the icon color */
}

/* Define styles for counter section and counter elements */
.counter-section {
  overflow: hidden; /* Hide overflowing content */
  white-space: nowrap; /* Prevent counter elements from wrapping */
}

.counter-section div {
  display: inline-block;
  width: 100px;
  margin-right: 20px;
  text-align: center;
  vertical-align: top;
  animation: slide-infinite 8s linear infinite; /* Adjust animation duration as needed */
}

.counter-img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

/* Define keyframes for infinite horizontal sliding animation */
@keyframes slide-infinite {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); /* Slide entire content to the left */
  }
}

.testimonial {
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
}

.testimonial .person {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  padding-bottom: 18px;
}

.testimonial .person img {
  width: 75px;
  height: 75px;
  border-radius: 100px;
}

.testimonial .stars {
  color: orange;
}

/* sign up and login styling start */
.modal-wrap {
  /* display: flex;
  justify-content: center; */
  background-color: #fff;
}

.cancel-icon {
  cursor: pointer;
}

.side-img-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.side-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 600px;
  padding: 30px !important;
}

.login-form {
  display: flex;
  justify-content: center;
}

.form-input .form-control {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  box-shadow: none;
  resize: none;
}

.form-input .form-control:focus {
  /* border-color: transparent; */
  box-shadow: none;
}

.form-input header {
  font-weight: 700;
  text-align: center;
  margin-bottom: 45px;
}
.form-input .input-field {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 5px 0 5px;
}
.form-control {
  height: 37px;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  margin-bottom: 20px;
  color: #40414a;
}
.message-input {
  /* padding-top: 2rem; */
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.form-input .input-field label {
  font-size: 15px;
  position: absolute;
  top: 10px;
  left: 10px;
  pointer-events: none;
  transition: 0.5s;
}
.input-field input:focus ~ label {
  top: -10px;
  font-size: 13px;
}
.input-field input:valid ~ label {
  top: -10px;
  font-size: 13px;
  color: #5d5076;
}
.input-field .input:focus,
.input-field .input:valid {
  border-bottom: 1px solid #743ae1;
}

.form-detail{
  font-size: 10px;
  margin-top: auto;
}

/* #logIn .modal-dialog {
  max-height: 300px;
  display: flex;
  align-items: center;
} */

footer {
  background: linear-gradient(rgba(12, 12, 12, 0.7), rgba(72, 9, 74, 0.7));
  color: #fff;
}

footer a {
  color: #fff;
  margin-left: 10px;
}


/* For Desktop screens */
@media (min-width: 992px) {
  .cancel-icon-two {
    display: none;
  }
}

/* For Tablet screens */
@media (min-width: 768px) and (max-width: 991px) {
  .cancel-icon-two {
    display: none;
  }
}

/* For Mobile screens */
@media (max-width: 767px) {
  .cancel-icon {
    color: white;
  }
  .cancel-icon-two {
    display: none;
  }

  .zoomable-image {
    width: 100%; /* Set width to fill its container */
    height: auto; /* Maintain aspect ratio */
    transition: transform 0.3s ease;
  }
  .modal-text {
    font-size: 12px;
  }

  .login-form {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}
